input {
	padding: 2px 5px;
}
.notification {
	font-weight: bold;
	font-size: 14pt;
	padding: .75rem;
}
.done {
	color: green;
}
.error {
	color: red;
}
.editingTable {
	background: RGBA(0,255,0,0.3);
}
.contentTable i.fas {
	cursor: pointer;
	transition: all 0.5s;
}
button i.far {
	margin-left: 5px;
}
button {
	cursor: pointer;
}
#dbEdit .editingTable {
	background: RGBA(255,255,0,0.3);
}
.fa-user-edit {
	color: RGBA(0,255,0,0.5);
}
.fa-user-edit:hover {
	color: RGBA(0,255,0,1);
}
.fa-user-times {
	color: RGBA(255,0,0,0.5);
}
.fa-user-times:hover {
	color: RGBA(255,0,0,1);
}